.main-layout {
    display: grid;
    grid-template-columns:
        minmax(20px, 1fr)
        minmax(auto, 1060px)
        minmax(20px, 1fr);
}

.main-layout > * {
    grid-column: 2;
}
.main-layout > *.full {
    grid-column: 1 / -1;
}
.height-layout {
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}
